body {
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 200px;
  background-image: linear-gradient(
    to left top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
