root {
  --main-branding-color: #000000;
  --secondary-branding-color: #6c63ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 800px) {
  nav {
    position: inherit;
  }
  .about,
  .cta {
    justify-content: center;
    text-align: center;
  }
  .leash {
    flex-direction: column;
    justify-content: center;
    transform: scale(50%);
    display: block;
    margin-bottom: -150px;
  }

  #logo {
    display: flex;
    align-content: initial;
  }
  .item-2 {
    order: -1;
  }
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  body {
    display: flex;
    position: relative;
    top: -250px;
  }
  .viewBtn {
    width: 70%;
    margin: 10px;
  }
  .contactBtn {
    height: auto;
  }
  nav {
    position: static top;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 200px;
  background-image: linear-gradient(
    to left top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
h1 {
  color: var(--main-branding-color);
  font-size: 96px;
}
.containerBody {
  display: flex;
  position: relative;

  justify-content: left;
}
#cta {
  animation: name ease-in-out;
  animation-duration: 2s;

  animation-timing-function: linear;
}
@keyframes name {
  from {
    margin-right: 0%;
  }
  to {
    margin-left: 40%;
  }
}
h4 {
  color: #ffffff;
  font-size: 20px;
  display: block;
  position: relative;
  bottom: 25px;
  margin-top: 20px;
}
h2 {
  display: block;
  position: relative;
  top: 35px;
  font-size: 50px;
}
button {
  transform: 20px;
  margin: 20px;
  padding: 20px 15px;
  border-radius: 5px;
  border: none;

  background: #09becf;
  color: #ffffff;

  font-weight: 700;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

#githublogo {
  display: flex;
  justify-content: center;
  transform: scale(0.8);
}
.leash {
  display: block;

  justify-content: center;
}
.leashMobile {
  display: none;
}

#btmHeroButton {
  display: flex;
  justify-content: center;
}
.aboutBody {
  justify-content: left;
  position: relative;
  float: left;
}
#toggle {
  color: #000000;
}
@media (max-width: 640px) and (min-width: 320px) {
  .leashMobile {
    justify-content: center;
    transform: scale(50%);
    display: block;
    margin-bottom: -150px;
    padding-left: 65px;
  }
  .leash {
    display: none;
  }
  .about,
  .cta {
    justify-content: center;
    text-align: center;
  }
}
