:root {
  --main-branding-color: #000000;
  --secondary-branding-color: #6c63ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;

  text-align: left;
  padding: 150px;
  margin-top: 150px;

  background-image: linear-gradient(
    to left top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
h1 {
  color: var(--main-branding-color);
  font-size: 96px;
}
.containerBody {
  display: flex;
  position: relative;

  justify-content: left;
}
.cta {
  animation: name ease-in-out;
  animation-duration: 2s;

  animation-timing-function: linear;
}
@keyframes name {
  from {
    margin-right: 0%;
  }
  to {
    margin-left: 10%;
  }
}
h4 {
  color: #ffffff;
  font-size: 20px;
  display: block;
  position: relative;
  bottom: 25px;
  margin-top: 20px;
}
h2 {
  display: block;
  position: relative;
  top: 35px;
  font-size: 50px;
}
button {
  transform: 20px;
  margin: 20px;
  padding: 20px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: var(--box-shadow);
  background: #09becf;
  color: #ffffff;

  font-weight: 700;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

#githublogo {
  display: flex;
  justify-content: center;
  transform: scale(0.8);
}
.leash {
  display: flex;

  justify-content: center;
}
.arrow {
  justify-content: end;
  top: 400px;
}
#btmHeroButton {
  display: flex;
  justify-content: center;
}
.aboutBody {
  justify-content: left;
  position: relative;
  float: left;
}
