root {
  --heading-color: #000000;
  --secondary-branding-color: #ffff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 200px;
  background-image: linear-gradient(
    to left top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-size: auto;
  flex-direction: column;
}
/*Hero and base style */
@media (max-width: 800px) {
  nav {
    position: inherit;
  }
  .about,
  .cta {
    justify-content: center;
    text-align: center;
  }
  .leash {
    flex-direction: column;
    justify-content: center;
    transform: scale(50%);
    display: block;
    margin-bottom: -150px;
  }

  #logo {
    display: flex;
    align-content: initial;
  }
  .item-2 {
    order: -1;
  }
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -250px;
  }

  .viewBtn {
    width: 70%;
    margin: 10px;
  }
  .contactBtn {
    height: auto;
  }
  nav {
    position: static top;
  }
}

html {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100%;
}
.containerBody {
  display: flex;
  position: relative;

  justify-content: left;
}
h1 {
  color: var(--heading-color);
  font-size: 96px;
  justify-content: left;
}

h2 {
  display: block;
  position: relative;
  top: 35px;
  font-size: 50px;
}
h4 {
  color: #ffffff;
  font-size: 20px;
  display: block;
  position: relative;
  bottom: 25px;
  margin-top: 20px;
}
button {
  transform: 20px;
  margin: 20px;
  padding: 20px 15px;
  border-radius: 5px;
  border: none;

  background: #09becf;
  color: #ffffff;

  font-weight: 700;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--heading-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.leash {
  display: block;

  justify-content: center;
}
.leashMobile {
  display: none;
}

#btmHeroButton {
  display: flex;
  justify-content: center;
}
.aboutBody {
  justify-content: left;
  position: relative;
  float: left;
  bottom: 0;
}
#toggle {
  color: #000000;
}
.bi {
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 800px) {
  #cta {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: block;
    position: relative;
    justify-content: center;
    align-content: center;
    top: 150px;
  }
}
@media (max-width: 575px) and (min-width: 320px) {
  .leashMobile {
    justify-content: center;
    transform: scale(50%);
    display: flex;
    margin-top: -150px;
    margin-bottom: 150px;
    padding-left: 65px;
  }
  .leash {
    display: none;
  }
  .about,
  .cta {
    justify-content: center;
    text-align: center;
  }
  footer {
    justify-content: center;
  }
}
#landing {
  animation: hero ease-in 3s;
  animation-duration: 2s;

  animation-timing-function: linear;
}
@keyframes hero {
  from {
    margin-right: 0%;
  }
  to {
    margin-left: 10%;
  }
}

/*Portfolio */
.projectBody {
  margin: 10px;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 8px;

  text-indent: 30px;
  padding: 20px;
  flex-direction: row;
}
.projectName {
  text-align: center;
  font-size: 38;
  font-weight: 600;
}
.masonry {
  columns: 2;
  gap: 20px;
  margin: 20px;
}
.masonry-item {
  width: 100%;

  margin-bottom: 20px;
  align-content: center;
  justify-content: center;
}

/*Contact Me */

.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 200px);
}
.contactBody {
  flex: 1;
}
.contactLinks {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 10px;
  align-content: center;
}
footer {
  display: block;
  align-content: center;
  text-align: center;
  margin: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer .fab {
  padding: 15px;
  background: white;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/*about me */
.selfportrait {
  position: relative;
  width: 400px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}
